<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>SpringEL 표현식</h1>
    <ul>Object
        <li>${userA.username} = <span th:text="${userA.username}"></span></li>
        <li>${userA['username']} = <span th:text="${userA['username']}"></span></li>
        <li>${userA.getUsername()} = <span th:text="${userA.getUsername()}"></span></li>
    </ul>

    <ul>List
        <li>${userList[0].username} = <span th:text="${userList[0].username}" /></li>
        <li>${userList[0]['username']} = <span th:text="${userList[0]['username']}" /></li>
        <li>${userList[0].getUsername()} = <span th:text="${userList[0].getUsername()}" /></li>
    </ul>

    <ul> Map
        <li>${userMap['userA'].username} = <span th:text="${userMap['userA'].username}" /></li>
        <li>${userMap['userA']['username']} = <span th:text="${userMap['userA']['username']}" /></li>
        <li>${userMap['userA'].getUsername()} = <span th:text="${userMap['userA'].getUsername()}" /></li>
    </ul>

    <h1>지역 변수 - (th:with)</h1>
    <div th:with="first=${users[0]}">
        <p>처음 사람의 이름은 <span th:text="${first.username}" /></p>
    </div>
</body>
</html>